{% extends "core/base.html" %}

{% load vuln_extras %}

{% block page_title %}Home{% endblock page_title %}

{% block breadcrumb_items %}
{% if level == 'vendor' %}
    <li><a href="{% url 'cpes:index' %}">Parts</a></li>
    <li class="active">{{ part|part_display }} Vendors</li>
{% elif level == 'product' %}
    <li><a href="{% url 'cpes:index' %}">Parts</a></li>
    <li>
        <a href="{% url 'cpes:part_index' 'vendor' %}?part={{ part }}">
            {{ part|part_display }} Vendors
        </a>
    </li>
    <li class="active">{{ vendor }}</li>
{% endif %}
{% endblock breadcrumb_items %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>{{ level|title }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
{% include "utils/pagination.html" %}
    </div>
</div>

<p>
{% for item in objects %}
    {% if not next_level %}
    <a class="obj" href="{% url 'cpes:version_index' %}{{ q_dict|qstring|safe }}product={{ item.url }}">{{ item.obj }}</a>
    {% else %}
    <a class="obj" href="{% url 'cpes:part_index' next_level %}{{ q_dict|qstring|safe }}{{ level }}={{ item.url }}">{{ item.obj }}</a>
    {% endif %}
    <small>{{ item.count }}</small>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
<div class="row">
    <div class="col-sm-12">
{% include "utils/pagination.html" %}
    </div>
</div>
{% endblock content %}