Django==1.8
Werkzeug==0.10.4
coverage==3.7.1
django-bootstrap-form==3.2
django-debug-toolbar==1.3.0
django-extensions==1.5.2
django-model-utils==2.2
django-registration-redux==1.1
flake8==2.4.0
lxml==3.4.3
mccabe==0.3
pep8==1.5.7
psycopg2==2.6
pyflakes==0.8.1
requests==2.6.0
six==1.9.0
sqlparse==0.1.14
